._*
.DS_Store
.nyc_output
*.tgz
binding
/build
env.properties
junit.xml
node_modules
npm-debug.log*
/prebuilds
test/TestApp/build/
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
yarn-error.log
