._*
.DS_Store
.nyc_output
.vscode
*.tgz
/build
dist
env.properties
node_modules
npm-debug.log*
/prebuilds
test/TestApp/build/
test/TestApp/DerivedData/
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
.pnpm-debug.log
*.tsbuildinfo