name: Build
on:
  - push
  - pull_request

jobs:
  build:
    # Specify macos-15-intel because we need to build on an x64 machine and all macos 14 machines are arm based.
    # There seems to be an issue building x64 variants on arm64 machines.
    runs-on: macos-15-intel
    name: Build

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup node
      uses: actions/setup-node@v2
      with:
        node-version: '22'

    - name: Build
      run: yarn install --frozen-lockfile

    - name: Archive pre-built bindings
      uses: actions/upload-artifact@v3
      with:
        name: binding
        path: binding/**
